@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@300;600&display=swap');
*, ::before, ::after {box-sizing: border-box;}
body{
    font-family: var(--font-text);
    background: var(--background);
    background: var(--gradient)
}
:root{
    --font-text: 'Montserrat', sans-serif;
    --font-header: 'Aboreto', sans-serif;
    --font-basic-size: 1.2rem;
    --background: rgb(2,0,36);
    --gradient: linear-gradient(rgba(2,0,36,1) 0%, rgb(16, 95, 1) 60%, rgb(0, 179, 12) 95%); color:rgb(255, 255, 255);
    --color: white;
    --font-color: white;
    --font-text-color: rgb(51, 0, 133);
    --font-nav-color: snow;
    --font-hover-color: rgb(0, 179, 12);
    --border-color: rgb(94, 0, 67);
    --input-color: rgb(4, 128, 0);
    --input-background-color: lavender;
    --button-background-color: rgb(42, 0, 90);
    --popup-background-color: rgba(0, 0, 0, 0.5);
    --popup-window: rgb(34,193,195);
    --gradient-2: linear-gradient(0deg, rgba(34,193,195,1) 11%, rgba(255,0,243,1) 63%);
    --cookie: rgba(130, 68, 24, 0.858);
}
h1, h2, h3{
    font-family: var(--font-header)
}
h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2.3rem;
}
h3{
    font-size: 1.6rem;
}
.text{
    color: var(--font-color);
}
nav{
    top: 0;
    background-color: rgba(2, 0, 36);
    color:var(--font-nav-color);
    font-size: 15px;
    font-family: 'Aboreto', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 5px;
    animation: wiggle 2s linear infinite;
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-4deg);
    }
    20% {
      transform: rotateZ(5deg);
    }
    25% {
      transform: rotateZ(-2deg);
    }
    30% {
      transform: rotateZ(3deg);
    }
    35% {
      transform: rotateZ(-1deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
header{
    padding: 50px;
    height: 50px;
    width: 75%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.GN-nadpis{
    grid-area: GN;
}
#steam{
    grid-area: steam;
    font-size: 50px;
}
#PS{
    grid-area: PS;
    font-size: 50px;
}
#kontroler{
    grid-area: kontroler;
    font-size: 50px;
}
.header{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
    "GN"
    "PS"
    "steam"
    "kontroler"
}
.main{
    margin: auto;
    margin-top: 100px;
    width: 75%;
    font-size: 18px;
    max-width: 1000px;
}
#AC-mirage{
    background-image: url(./images/AC-mirage.webp);
    background-size:cover;
    height: 85%;
    width: 85%;
    transition: width 1s, height 1s, top 1s, left 1s;
}
#AC-mirage:hover {
    height: 95%;
    width: 95%;
    top: calc((100vh - 100%) / 2);
    left: calc((100vw - 100%) / 2);
}
#co-leti{
    margin-top: 75px;
}
#DI2{
    background-image: url(./images/DI2.jpg);
    background-size:cover;
    background-position: center;
    height: 85%;
    width: 85%;
    transition: width 1s, height 1s, top 1s, left 1s;
}
#DI2:hover{
    height: 95%;
    width: 95%;
    top: calc((100vh - 100%) / 2);
    left: calc((100vw - 100%) / 2);
}
#nas-team{
    margin-top: 75px;
}
#monkey{
    background-image: url(./images/monkey.jpg);
    background-size:cover;
    background-position: center;
    height: 50%;
    width: 85%;
    transition: width 1s, height 1s, top 1s, left 1s;
}
#monkey:hover{
    height: 50%;
    width: 95%;
    top: calc((100vh - 100%) / 2);
    left: calc((100vw - 100%) / 2);
}
li {
    display: inline-block;
    padding-left: 15px;
}
li a {
    color: var(--font-color);
    text-decoration: none;
}
li a:hover {
    color: var(--font-hover-color);
    text-decoration: underline;
}
section{
    display: flex;
}
section div img{
    width: 100%;
}
.odstavec{
    padding: 60px;
}
div{
    flex: 0 1 400px;
}
form {
    max-width: 1000px;
    margin: auto;
    display: flex;
}
form > input, form > button {  
    padding: 6px;
    border: 4px solid var(--border-color);
    font-size: 32px;
}
form > input[type=text] {
    flex: 0 1 100%;
    color: var(--input-color);
    border-radius: 12px 0 0 12px;
}
form > input[type=text]:focus {
    background-color: var(--input-background-color);
    outline: none;
}
form > button {
    flex: 0 0 80px;
    background-color: var(--button-background-color);
    color: var(--color);
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}
.newsletter{
    flex: 0 0 80px;
    background: var(--popup-window);
    background: var(--gradient-2);
    color: var(--color);
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    text-decoration: none;
    border: 4px solid var(--border-color);
    padding-top: 23px;
    font-family: var(--font-header);
    font-weight: 300;
}
#osobni-udaje{
    font-size: 25px;
    padding: 25px;
    color: var(--font-text-color);
}
#form{
    height: 100px;
}
.popup-overlay{
    background-color: var(--popup-background-color);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.popup-window{
    width: 575px;
    height: 250px;
    position: absolute;
    left: calc((100vw - 575px)/2);
    top: calc((100vh - 250px)/2);
    background: var(--popup-window);
    border-radius: 12px 12px 12px 12px;
}
.popup-window button{
    background: var(--popup-window);
    background: var(--gradient-2)
}
svg{
    width: 150px;
    height: 150px;
    fill: var(--cookie);
}
a:visited{
    text-decoration: none;
    color: var(--color);
}
#galerie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 6px;
}
.obrazek {
    background-size:cover;
    height: 98%;
    width: 98%;
  }
#hra1{
    background-image: url(./images/ori.jpg);
    grid-column: 1/3;
    transition: width 1s, height 1s, top 1s, left 1s;
}
#hra1:hover{
    height: 100%;
    width: 100%;
    top: calc((100vh - 100%) / 2);
    left: calc((100vw - 100%) / 2);
}
#hra2{
    background-image: url(./images/genshin.jpg);
    background-position: 50%;
    transition: width 1s, height 1s, top 1s, right 1s;
}
#hra2:hover{
    height: 100%;
    width: 100%;
    top: calc((100vh - 100%) / 2);
    left: calc((100vw - 100%) / 2);
}
#hra3{
    background-image: url(./images/lol.jpg);
    background-position: 50%;
    transition: width 1s, height 1s, bottom 1s, right 1s;
}
#hra3:hover{
    height: 100%;
    width: 100%;
    top: calc((100vh - 100%) / 2);
    left: calc((100vw - 100%) / 2);
}
#hra4{
    background-image: url(./images/SandF.jpg);
    background-position: 5%;
    transition: width 1s, height 1s, top 1s, left 1s;
}
#hra4:hover{
    height: 100%;
    width: 100%;
    top: calc((100vh - 100%) / 2);
    left: calc((100vw - 100%) / 2);
}
#hra5{
    background-image: url(./images/AC-mirage.webp);
    transition: width 1s, height 1s, top 1s, left 1s;
}
#hra5:hover{
    height: 100%;
    width: 100%;
    top: calc((100vh - 100%) / 2);
    left: calc((100vw - 100%) / 2);
}
@media only screen and (max-width: 600px) {
    nav{
        display: flex;
        justify-content: space-between;
        position: sticky;
        padding: none;   
    }
    .GN-nadpis{
        grid-area: GN;
    }
    #steam{
        grid-area: steam;
        font-size: 25px;
    }
    #PS{
        grid-area: PS;
        font-size: 25px;
    }
    #kontroler{
        grid-area: kontroler;
        font-size: 25px;
    }
    .header{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 100px);
        grid-template-areas:
        "GN"
        "PS"
        "steam"
        "kontroler"
    }
    #herni-novinky{
        flex-direction: column;
    }
    #co-leti{
        flex-direction: column;
    }
    #nas-team{
        flex-direction: column;
    }
    div img{
        flex: 0 0 100%;
    }
    .polozky{
        display: block;
        margin: 0;
        padding: 6px;
    }
    .polozky li {
        display: inline-block;
        padding-left: 12px;
    }
    .main{
        padding-top: 15px;
    }
    div.nadpis{
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 120px;
    }
    .odstavec{
        display: block;
    }
    #galerie{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 300px);
        gap: 6px;
    }
    .obrazek {
        background-size:cover;
        height: 100%;
        width: 100%;
    }
    #hra1{
        background-image: url(./images/ori.jpg);
        grid-column: 1/2;
        background-position: 45%;
    }
    #hra2{
        background-image: url(./images/genshin.jpg);
    }
    #hra3{
        background-image: url(./images/lol.jpg);
    }
    #hra4{
        background-image: url(./images/SandF.jpg);
    }
    #hra5   {
        background-image: url(./images/AC-mirage.webp);
        background-size:200%;
        background-position: left;
    }
    #form{
        height: 100px;
    }
 }